.Character {
   text-align: center;
   font-family: 'Courier New', Courier, monospace;
}
.Character {
   white-space: pre;
}
.Character-current {
   background-color: #09d3ac !important;
}
.Character-current-wrong {
   background-color: #ff001596 !important;
   color: white;
}
.Character-out {
   color: silver !important;
}
